# Visual Studio
/.vs/
/智绘教/智绘教/
/智绘教/.vs/
/PptCOM/PptCOM/
/PptCOM/bin/
/PptCOM/obj/
/PptCOM/.vs/

# Vcpkg
/VcpkgInstalled/
/智绘教/Vcpkg/
/PptCOM/Vcpkg/

# Build output
/Build/
/智绘教/Build/
/PptCOM/Build/

# Project-local cache
/packages/
/Package/
/智绘教/Cache/
/PptCOM/Cache/
