<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="5.2.0" targetFramework="net35" developmentDependency="true" />
  <package id="Fody" version="6.8.0" targetFramework="net35" developmentDependency="true" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1018" targetFramework="net20" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net35" />
</packages>